<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body>
{% include "navbar.html" %}
<br>
<h1 style="text-align:center;font-size:50px;"><b>About Us</b></h1>
<p style="margin-top:20px;text-align:center;font-size:30px;">An Online Library Management System where you can get books you want read. <br> In this, Admin and Students can login with
the registered credentials.<br> There are various features for admin after logging into the system like add books to library,
issue books to students, etc.<br> Students can view the books admin has issued to them.
    <br> Welcome to the Online Library Management system! Enjoy reading..! <br> </p>
{% include "footer.html" %}
</body>
</html>