<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
{% include "navbar.html" %}
<br><br>
<div style="text-align:center;">
  <h1 style="font-size:50px;margin-top:30px;"><b>Hello, Admin</b></h1>
  <h4 style="font-size:25px;margin-top:20px;">Welcome to Online Library Management System</h4>
</div>
<hr style="height:5px;">
<div style="text-align:center;">
    <h5 style="font-size:25px;margin-top:20px;">You can access various features after login.</h5>
    <a href="http://127.0.0.1:8000/adsign/" class="btn btn-primary" style="height:40px;margin-left:20px;">Sign Up</a>
    <a href="http://127.0.0.1:8000/adlog/" class="btn btn-primary" style="margin-left:1pc;">Login</a>
</div>
<br>
{% include "footer.html" %}
</body>
</html>