<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student</title>
</head>
<body>
{% include "navbar.html" %}
<div style="text-align:center;">
  <h1 style="font-size:50px;margin-top:50px;"><b>Hello, Student</b></h1>
  <h4 style="font-size:25px;margin-top:40px;">Welcome to Online Library Management System</h4>
</div>
<br>
<hr style="height:5px;margin-top:5px;">
<div style="text-align:center;">
    <h5 style="font-size:25px;margin-top:30px;">You can access various features after login.</h5>
    <div class="container" style="margin-top:30px;">
        <div class="btn-group btn-group">
            <a href="http://127.0.0.1:8000/stusign/" class="btn btn-primary" style="height:40px;margin-left:20px;">Sign Up</a>
            <a href="http://127.0.0.1:8000/stulog/" class="btn btn-primary" style="margin-left:1pc;">Login</a>
        </div>
    </div>
</div>
{% include "footer.html" %}
</body>
</html>
