<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Login</title>
    <style>
        .a{
        height: 100%;
        background-color: #FFDEE9;
        background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 53%, #ffffff 89%, #ffffff 100%);
        margin-bottom:-35px;
        }
    </style>
</head>
<body>
{% include "navbar.html" %}
<div class="a">
    <center>
        <form method="post">
            {% csrf_token %}
            <br>
            <h1><b>Student Login</b></h1>
            <br>
            <label><h4>Username:</h4></label>
            <div>{{form.uname}}</div>
            <br>
            <label><h4>Password:</h4></label>
            <div>{{form.password}}</div>
            <br>
            <input type="submit" value="Login" class="btn btn-primary">
            <br>
        </form>
    </center>
</div>
{% include "footer.html" %}
</body>
</html>