<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Issued Book</title>
</head>
<body>
{% include "navbar_admin.html" %}
<h1 ALIGN="center" style="margin-top:50px;margin-bottom:30px;"><b>LIST OF ISSUED BOOKS</b></h1>
<table border="2" align="center" width="100%" height="100px;" style="text-align:center;border-collapse:collapse;">
    <tr>
        <th>Student Name</th>
        <th>Student Enrollment</th>
        <th>Book Name</th>
        <th>Book Author</th>
        <th>Issue Date</th>
        <th>Expiry Date</th>
        <th>Fine</th>
    </tr>

    {% for t in l %}
    <tr>
        <td>{{t.0}}</td>
        <td>{{t.1}}</td>
        <td>{{t.2}}</td>
        <td>{{t.3}}</td>
        <td>{{t.4}}</td>
        <td>{{t.5}}</td>
        <td>{{t.6}}</td>
    </tr>
    {% endfor %}
</table>
{% include "footer.html" %}
</body>
</html>